<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form #appareilForm="ngForm" (ngSubmit)="onSubmit(appareilForm)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" ngModel required />
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" [ngModel]="defaultStatus">
                    <option value="allumé">Allumé</option>
                    <option value="éteint">Eteint</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" 
                [disabled]="appareilForm.invalid">Enregistrer</button>
        </form>
    </div>
</div>
